@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(180deg, #e9d4f0 0%, #F0F0F9 100%);
}

main{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) -0.01%, rgba(255, 255, 255, 0.2) 52.94%);
  border-radius: 2.428rem;
  width: 90%;
  margin: 100px auto;
}